<config>
  <game_path>Z:\Games\World_of_Tanks_EU</game_path>
  <xvm>
    <branch></branch>
    <url_branches>https://nightly.modxvm.com/</url_branches>
    <url_storage>https://nightly.modxvm.com/download/</url_storage>
    <filename>xvm_latest.zip</filename>
  </xvm>
  <mods>
    <mod>
      <name>Marks Of Excellence Calculator</name>
      <url>http://down.wotspeak.org/756-mod_marksOnGunExtended.zip</url>
    </mod>
    <mod>
      <name>InBattle WN8 Calculator</name>
      <url>https://down.wotspeak.org/protanki/111-tv.protanki.efficiency.zip</url>
    </mod>
  </mods>
</config>